{% extends "layout.html" %}
{% block nav %}
<li role="presentation"><a href="{{ url_for('homepage') }}">About Us</a></li>
<li role="presentation"><a href="{{ url_for('homepage') }}">Questions</a></li>
<li role="presentation"><a href="{{ url_for('forms') }}">Forms</a></li>
<li role="presentation"><a href="{{ url_for('pricing') }}">Pricing</a></li>
<li role="presentation"><a href="{{ url_for('homepage') }}">Contact</a></li>
{% endblock %}
{% block content %}
	<div class="container">
		<div class="row">
			<div class="slider">
				<div class="img-responsive">
					<ul class="bxslider">
						<li><img src="static/img/01.jpg" alt=""/></li>
						<li><img src="static/img/01.jpg" alt=""/></li>
						<li><img src="static/img/01.jpg" alt=""/></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="text-center">
					<h2>Counseling and Psychotherapy</h2>
					<p>As professional counselors and psychotherapists we offer a
            supportive practice, gently listening to you, understanding things
            from your perspective. When life gets difficult it can be so hard
            to know just what to do. We believe that together, through the
            counseling process, we will begin to make sense out of the
            confusion.</p>
				</div>
				<hr>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="box">
				<div class="col-md-3">
					<div class="wow bounceIn" data-wow-offset="0" data-wow-delay="0.4s">
						<h4>Individuals</h4>
							<div class="icon">
								<i class="fa fa-location-arrow fa-3x"></i>
							</div>
						<p>Lorem ipsum dolor sit amet consectetur adipiscing elit Cras suscipit arcu libero</p>
						<div class="ficon">
							<a href="#" class="btn btn-default" role="button">Read more</a>
						</div>
					</div>
				</div>

        <div class="col-md-3">
          <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="1.0s">
            <h4>Couples Counseling</h4>
            <div class="icon">
              <i class="fa fa-location-arrow fa-3x"></i>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Cras suscipit arcu libero</p>
            <div class="ficon">
              <a href="#" class="btn btn-default" role="button">Read more</a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="1.6s">
            <h4>Family Mediation</h4>
            <div class="icon">
              <i class="fa fa-location-arrow fa-3x"></i>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Cras suscipit arcu libero</p>
            <div class="ficon">
              <a href="#" class="btn btn-default" role="button">Read more</a>
            </div>
          </div>
        </div>

				<div class="col-md-3">
					<div class="wow bounceIn" data-wow-offset="0" data-wow-delay="2.2s">
						<h4>Young People</h4>
						<div class="icon">
							<i class="fa fa-location-arrow fa-3x"></i>
						</div>
						<p>Lorem ipsum dolor sit amet consectetur adipiscing elit Cras suscipit arcu libero</p>
						<div class="ficon">
							<a href="#" class="btn btn-default" role="button">Read more</a>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-12 col-md-offset-0">
				<div class="text-center">
					<h2>Congratulations on taking the first step</h2>
					<p>
            Would you like to make your life more fulfilling, enjoyable,
            healthy and productive? Would you like to reduce anxiety, stress
            and depression? Is there anything you would like to change about
            your life? We realize that the decision to seek counseling is not a
            decision that is made lightly. Often times, it is easier to ignore
            emotional and psychological difficulties in hopes that they will
            improve on their own. Unfortunately, in many cases, brushing these
            challenges under the rug doesn’t resolve the real issues.
          </p>
          <p>
          Discussing your thoughts, feelings, emotions, and conflicts with
          another person can be of great help. If that person is unbiased,
          caring, professionally trained, and sensitive, then talking with that
          person and exploring your difficulties and concerns can be
          illuminating, and of tremendous assistance.
          </p>
          <p>
          We are passionate about collaborating with you to discover what is
          working and what is not working in your life. We subscribe to the
          belief of creating a partnership with our clients.
          </p>
          <p>
          Lastly, finding a therapist that is a good fit for you can be
          difficult. Our goal at Behavioral Health Integrative Services is to
          provide you with a comfortable, respectful and supportive environment
          where you feel open to explore any issues that come up during
          treatment. If, for whatever reason, we are not the right fit for you,
          we will provide you with resources and encourage you to find the
          place where you can begin your journey towards a more fulfilling life.
          </p>
          <p>
          Make an appointment today and let’s discuss your goals.
          </p>
           <br>
					</p>
				</div>
				<hr>
			</div>
		</div>
	</div>
  {% endblock %}
	<footer>
		<div class="inner-footer">
			<div class="container">
				<div class="row">
            {% block footer %}
					<div class="col-md-4 f-about">
						<a href="index.html"><h1></span>Payment Forms Accepted</h1></a>
              <li>BlueCros BlueShield</li>
              <li>MagnaCare</li>
              <li>Tricare</li>
              <li>Visa, Mastercard, Discover, AmericanExpress</li>
              <li>Cash, Check, Moneyorder</li>
					</div>
					<div class="col-md-4 l-posts">
						<!-- <h3 class="widgetheading">Latest Posts</h3>
						<ul>
							<li><a href="#">This is awesome post title</a></li>
							<li><a href="#">Awesome features are awesome</a></li>
							<li><a href="#">Create your own awesome website</a></li>
							<li><a href="#">Wow, this is fourth post title</a></li>
						</ul> -->
					</div>
					<div class="col-md-4 f-contact">
						<h3 class="widgetheading">Stay in touch</h3>
						<a href="#">
              <p>
                <i class="fa fa-envelope"></i>Martha@behavioralhealthis.org
              </p>
            </a>
						<p><i class="fa fa-phone"></i>  +1 (347) 577-9619</p>
						<p>
              <i class="fa fa-home"></i>
                Office 1<br>
  							370 East 160th, Floor 2<br>
  							Bronx, NY 10451<br>
            </p>
            <p>
              <i class="fa fa-home"></i>
                Office 2<br>
                3265 Johnson Ave, Suite 105<br>
                Bronx, NY 10463<br>
            </p>
					</div>
          {% endblock %}
				</div>
			</div>
		</div>
		</div>
	</footer>

</body>
</html>
